body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-board {
    margin-bottom: 20px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 2px solid #999;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    display: flex;
    margin:5px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .square:hover {
    background-color: #e0e0e0;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .game-info {
    text-align: left;
  }
  
  .game-info ol {
    padding-left: 20px;
  }
  
  .game-info li {
    margin: 5px 0;
  }
  
  button {
    background-color: #ef8812;
    color:black;
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  